<!DOCTYPE html>
<html>
  <body>
    <input id="pac-input" calss="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <link rel=stylesheet type="text/css" href="/css/mymap.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script> 
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script defer type="text/javascript" src="/js/mymap.js"></script>
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ8PZCoEFJzI7-3PEFcz_-n3PNJO8KRcw&libraries=places"></script>
  </body>
</html>
